body {
	font: 16px Helvetica, Sans-Serif;
	background: url(http://www.textures4photoshop.com/tex/thumbs/grunge-vintage-leather-texture-with-old-weathered-look-837.jpg);
}

#container {
	width: 800px;
	margin: 40px auto 60px;
}

#pic {
  float: right;
}

#content-contact {
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid #999;
}
