body {
	font: 16px Helvetica, Sans-Serif;
	background: url(https://img.freepik.com/free-photo/white-wood-pattern-texture-background_64749-1631.jpg?size=626&ext=jpg);
}

#container {
	width: 800px;
	margin: 40px auto 60px;
}

.pic {
  float: right;
}

#content-contact {
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid #999;
}

.move-me {
	display: inline;
}
